@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #77161b;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img {
    max-width: 295px;
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 50px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}
h2 {
    margin: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input {
    padding: 10px;
    color: #77161b;
}
button {
    height: 44px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.3s;
}
button:hover {
    background-color: white;
    color: #77161b;
}
/*Styles for a single country card*/
.single-country-card {
    background-color: white;
    border: 2px solid white;
    margin: 20px 0;
}
h3 {
    color: #77161b;
}
h3:hover {
    background-color: #77161b;
    color: white;
    cursor: pointer;
}
h3,
h4 {
    padding: 10px;
    margin: 0;
}
.card-footer,
h4 {
    height: 40px;
    text-align: left;
    background-color: gray;
}
.row {
    text-align: left;
    background-color: #77161b;
    margin: 0;
    padding: 10px;
}
img {
    width: 100%;
}
h4,
.row,
.card-footer {
    display: none;
}